<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cynix.ashwin.aodnotify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launchericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AODActivity"
            android:theme="@style/FullscreenTheme">
        </activity>

        <service
            android:name=".AODNotifyListener"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name = "android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver android:name=".ScreenOffBroadcastReciever">
            <!--<intent-filter>
                     <action android:name="android.intent.action.SCREEN_OFF"></action>
            </intent-filter>-->
        </receiver>

    </application>

</manifest>